<?xml version="1.0"?>
<packages>
  <package id="docker" />
  <package id="virtualbox" />
  <package id="docker-machine" />
  <package id="jdk8" />
  <package id="groovy" />
  <package id="maven" />
  <package id="NetBeans" />
  <package id="atom" />
  <package id="SublimeText3" />
  <package id="SublimeText3.PackageControl" />
  <package id="chrome" />
  <package id="github" />
  <package id="sourcecodepro" />
</packages>
