<?xml version="1.0"?>
<packages>
  <package id="docker-for-windows" />
  <package id="jdk8" />
  <package id="groovy" />
  <package id="maven" />
  <package id="NetBeans" />
  <package id="atom" />
  <package id="SublimeText3" />
  <package id="SublimeText3.PackageControl" />
  <package id="GoogleChrome" />
  <package id="github-desktop" />
  <package id="sourcecodepro" />
</packages>
